<mat-card>
  <mat-card-title>Créer un nouveau covoiturage</mat-card-title>
  <mat-card-content>
    <form [formGroup]="carpoolingForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field>
          <mat-label>La Date de départ: </mat-label>
          <input type="datetime-local" matInput formControlName="datetimeDeparture">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Ville de départ : </mat-label>
          <input type="text" matInput placeholder="Password" formControlName="addressDeparture">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Ville d'arriver: </mat-label>
          <input type="text" matInput placeholder="Password" formControlName="addressArrival">
        </mat-form-field>
      </p>
      <div class="button">
        <button type="submit" mat-button class="mat-focus-indicator mat-raised-button mat-button-base mat-raised">Créer</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
