<!-- {{carrental| json}} -->
<ng-container *ngIf="carrental; else elseBlock">
  <mat-card>
    <h1>Réservation de la {{carrental.usedCar.model}}</h1>
<div>
  <h3>Véhicule</h3>
  <!-- nom nb place category & image -->
  <img [src]="carrental.usedCar.image"  alt="image voiture">
  <p>Marque</p>
  <p>{{carrental.usedCar.mark}}</p>
  <p>Model</p>
  <p>{{carrental.usedCar.model}}</p>
  <p>Categorie</p>
  <p>{{carrental.usedCar.category}}</p>
  <p>Nombre de places</p>
  <p>{{carrental.usedCar.placeNumber}}</p>
</div>
<div>
  <h3>Date de début</h3>
  <p>{{carrental.dateDepart | date: 'EEEE dd/MM/yy à HH:mm' : '' : 'fr-FR' }}</p>
</div>
<div>
  <h3>Date de fin</h3>
  <p>{{carrental.dateArrivee | date: 'EEEE dd/MM/yy à HH:mm' : '' : 'fr-FR' }}</p>
</div>

<button mat-raised-button color="primary" (click)="updateCarrental(carrental.id)">Modifier</button>
<button mat-raised-button color="warn" (click)="deleteCarrental(carrental.id)">Supprimer</button>
<button mat-raised-button color="accent" routerLink="/car-rental">Retour</button>
</mat-card>
 </ng-container>
 <ng-template #elseBlock>
   <div>
     {{msgError | json}}
   </div>
 </ng-template>

