<div class="table">
  <h1>Liste des véhicules de service</h1>
  <div>
    <button mat-raised-button color="primary" routerLink="add">Ajouter un véhicule</button>
  </div>
  <mat-form-field appearance="standard">
    <mat-label>Filtrer</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Ford" #input>
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="mark">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Marque</th>
      <td mat-cell *matCellDef="let element"> {{element.mark}} </td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Modèle</th>
      <td mat-cell *matCellDef="let element"> {{element.model}} </td>
    </ng-container>

    <ng-container matColumnDef="placeNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre de place</th>
      <td mat-cell *matCellDef="let element"> {{element.placeNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="registration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Immatriculation</th>
      <td mat-cell
          *matCellDef="let element"> {{element.registration}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell
          *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Catégorie</th>
      <td mat-cell
          *matCellDef="let element"> {{element.category}} </td>
    </ng-container>

    <ng-container cdkColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *cdkCellDef="let row">
        <button mat-button color="primary">Détails</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialogDetail(row.id)"></tr>
  </table>
</div>

